body, html {
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  background-color: #059EEE;
}


h1 {
  font-family: Raleway, sans-serif;
  text-align: center;
  padding: 0px;
  margin: 2px;
  color: white;
}

#welcome, h1 {
  color: white;
  font-size: 30px;
}

#welcome-phrase, h4 {
  color: white;
  font-size: 18.9px;
}


h2 {
  text-align: center;
  font-size: 25px;
  color: white;
}

h3 {
  text-align: center;
  color: white;
}

h4 {
  text-align: center;
  color: #157DFB;

}

.all-phrases {
background-color: #EFEEEC;
max-width: 25em;
padding: 1em;
border-radius: 2em;
margin: 1em;

}

.spanish-phrases {
  background-color: #EFEEEC;
  max-width: 25em;
  padding: 1em;
  border-radius: 2em;
  margin: 1em;

}

.english-phrases {
  background-color: #EFEEEC;
  max-width: 25em;
  padding: 1em;
  border-radius: 2em;
  margin: 1em;

}

.favorite-spanish {
  background-color: #EFEEEC;
  max-width: 25em;
  padding: 1em;
  border-radius: 2em;
  margin: 1em;

}

.favorite-english {
  background-color: #EFEEEC;
  max-width: 25em;
  padding: 1em;
  border-radius: 2em;
  margin: 1em;

}
.allBtn {
  height: 2em;
  width: 5em;
  border-radius: 1em;
  color: #157DFB;
  background-color:#F8F8F8;
}

.allBtn:hover {
  color: #F8F8F8;
  background-color:#157DFB;
}

.spanishBtn {
  height: 2em;
  width: 5em;
  border-radius: 1em;
  color: #157DFB;
  background-color:#F8F8F8;
}

.spanishBtn:hover {
  color: #F8F8F8;
  background-color:#157DFB;
}

.englishBtn {
  height: 2em;
  width: 5em;
  border-radius: 1em;
  color: #157DFB;
  background-color:#F8F8F8;
}

.englishBtn:hover {
  color: #F8F8F8;
  background-color:#157DFB;
}

.saveBtn {
  height: 2em;
  width: 2em;
  border-radius: 0.5em;
  color: #157DFB;
  background-color:#FFFFFF;

}

.saveBtn:hover {
  color: #F8F8F8;
  background-color:#157DFB;
}

.updateBtn {
  height: 2em;
  width: 2em;
  border-radius: 0.5em;
  color: #157DFB;
  background-color:#FFFFFF;
  margin-top: 0.5em;

}

.updateBtn:hover {
  color: #F8F8F8;
  background-color:#157DFB;
}

.deleteBtn {
  height: 2em;
  width: 2em;
  border-radius: 0.5em;
  color: #157DFB;
  background-color:#FFFFFF;

}

.deleteBtn:hover {
  color: #F8F8F8;
  background-color:#157DFB;
}

.favoriteBtn {
  height: 2em;
  width: 2em;
  border-radius: 0.5em;
  color: #157DFB;
  background-color:#FFFFFF;
}

.favoriteBtn:hover {
  color: #F8F8F8;
  background-color:#157DFB;
}

.translateBtn {
  height: 2em;
  width: 2em;
  border-radius: 0.5em;
  color: #157DFB;
  background-color:#FFFFFF;
}

.translateBtn:hover {
  color: #F8F8F8;
  background-color:#157DFB;
}

.voiceBtn {
  height: 2em;
  width: 2em;
  border-radius: 0.5em;
  color: #157DFB;
  background-color:#FFFFFF;
}

.voiceBtn:hover {
  color: #F8F8F8;
  background-color:#157DFB;
}

.btn-container {
  text-align: center;
}

.instructions .container h1 {
  font-size: 32px;
  font-weight: 600;
  font-family: arial;
}

.instructions {
  background-color:#059EEE;
  color: white;
  padding: 15px;
}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;

}

.container p {
  margin-top : 14px;
}

label {
  color: white;
}

a {
  color: white;
}

form {
  text-align: center;
}


.userTitle{
  color: white;
}

.register-input {
  text-align: center;
}
.img-responsive {
  margin: 0 auto;
  height: 250px;
  width: 250px;
  padding: 20px;
  border-radius: 55px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger {
  margin-left: 10px;
}
.logoutBtn {
  display: inline-flex;
}

.navbar {
  background-color: #197BBD;
  width: 100%;
  border-radius: 0px;
  text-align: center;

}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar li {
  float: left;

}

.navbar li a {
  display: inline-block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navbar li a:hover {
  text-decoration: underline;
  color: #111;
}
