<div class="navbar">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href=""><span class="glyphicon glyphicon-user"></span> iTalk</a>
      </div>
      <ul class="nav navbar-nav navbar-header">
        <li class="active"><a href="#/user"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li><a href="#/phrases"><span class="glyphicon glyphicon-list"></span> Phrases</a></li>

        <li><a href="#/favorites"><span class="glyphicon glyphicon-heart"></span> Favorites</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
      </ul>
    </div>
  </nav>
</div>
