<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
  <h3> My Favorite Phrases</h3>

<div class="favorite-spanish">
<h4>Spanish</h4>
<p ng-repeat="phrases in fc.phrasebook" ng-init="editing=false" ng-show="fc.allPhrase">
  {{ fc.userObject.userName }} :
  <br>
  <span class="label label-danger">Spanish</span> {{ phrases.esphrase }}

</div>
<div class="favorite-english">
<h4>English</h4>
<p ng-repeat="phrases in fc.phrasebook" ng-init="editing=false" ng-show="fc.allPhrase">
  {{ fc.userObject.userName }} :
  <br>
    <span class="label label-primary">English</span> {{ phrases.enphrase }}
</div>
</div>
